* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ca {
  width: 75%;
  margin: auto;
}

.head-calc {
  font-weight: 700;
  user-select: none;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.help {
  font-weight: 700;
  user-select: none;
  font-size: 1.4em;
  display: flex;
  padding-bottom: 30px;
  margin-top: 30px;
}

.helpans {
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.8em;
  margin-bottom: 70px;
}

.helpans li {
  list-style: decimal;
  margin: 0px 75px 10px 40px;
  text-align: left;
}

.container-calc {
  display: flex;
}

.note {
  width: 75%;
  margin: 40px auto 20px auto;
  display: flex;
}

.info-icon {
  font-size: 25px;
}

.purpose {
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 50px;
  font-weight: 700;
}
